<script>
(function(){var urls=["https:\/\/partner.teathemes.net\/shopify-assets\/shop\/demo-boutique-plus.myshopify.com\/Boutique-opt7-demo-boutique-plusmyshopifycom.css","https:\/\/fonts.googleapis.com\/css?family=Yellowtail","https:\/\/fonts.googleapis.com\/css?family=Playfair+Display%3A400%2C400italic%2C700%2C700italic%2C900%2C900italic","https:\/\/fonts.googleapis.com\/css?family=Montserrat%3A400%2C700","https:\/\/fonts.googleapis.com\/css?family=Montserrat%3A300%2C100%2C900","https:\/\/fonts.googleapis.com\/css?family=Playfair+Display%3A200","https:\/\/fonts.googleapis.com\/css?family=Yellowtail%3A400"];for(var i=0;i<urls.length;i++){var s=document.createElement('link');s.rel='stylesheet';s.type='text/css';s.href=urls[i];var x=document.getElementsByTagName('link')[0];x.parentNode.insertBefore(s,x);}})();;var s = document.createElement('script');s.type = 'text/javascript';s.defer = true;s.src = 'https://partner.teathemes.net/shopify-assets/shop/demo-boutique-plus.myshopify.com/Boutique-opt7-demo-boutique-plusmyshopifycom.js';document.head.appendChild(s);</script><!--ID-Boutique-opt7-demo-boutique-plusmyshopifycom--><!--[shopify-slider alias="Boutique-opt7-demo-boutique-plusmyshopifycom"] --><!-- ok --><style type="text/css"></style>
<div id="rev_slider_2822_1_wrapper" class="wait-to-load rev_slider_wrapper fullwidthbanner-container" data-alias="Boutique-opt7-demo-boutique-plusmyshopifycom" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px; opacity:0;">
<!-- START REVOLUTION SLIDER 5.2.6 auto mode -->
	<div id="rev_slider_2822_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-9985" data-transition="curtain-2" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="http://kutethemes.net/wordpress/boutique/wp-content/uploads/revslider/Boutique-opt7/bg1.jpg"  alt=""  width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9985-layer-3" 
			 data-x="637" 
			 data-y="245" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:bottom;s:1100;e:Power3.easeInOut;" 
			 data-transform_out="y:bottom;s:600;" 
			data-start="580" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5840" 

			style="z-index: 5; white-space: nowrap; font-size: 12px; line-height: 15px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:6px;">MENSWEAR </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9985-layer-4" 
			 data-x="540" 
			 data-y="297" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:bottom;s:1100;e:Power3.easeInOut;" 
			 data-transform_out="y:bottom;s:600;" 
			data-start="850" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5720" 

			style="z-index: 6; white-space: nowrap; font-size: 14px; line-height: 15px; font-weight: 200; color: rgba(238, 238, 238, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0px;">Beautiful Awesome Clothing & Accessories store! </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9985-layer-2" 
			 data-x="593" 
			 data-y="161" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:3;sY:1;skX:0;skY:0;s:1300;e:Power3.easeInOut;" 
			 data-transform_out="y:bottom;s:600;" 
			 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
			data-start="1160" 
			data-splitin="chars" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-elementdelay="0.05" 
			 data-end="5930" 

			style="z-index: 7; white-space: nowrap; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Yellowtail;letter-spacing:0px;">BoutiQue </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9985-layer-1" 
			 data-x="668" 
			 data-y="128" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:1100;e:Power3.easeInOut;" 
			 data-transform_out="opacity:0;s:600;" 
			data-start="1620" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5330" 

			style="z-index: 8; white-space: nowrap; font-size: 24px; line-height: 25px; font-weight: 100; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:0px;">THE </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9985-layer-5" 
			 data-x="633" 
			 data-y="554" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:5;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:600;" 
			 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-start="2080" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5130" 

			style="z-index: 9; white-space: nowrap; font-size: 10px; line-height: 10px; color: rgba(221, 221, 221, 1.00);font-family:Montserrat;letter-spacing:0px;">WWW.BOUTIQUE.COM </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-9986" data-transition="slotzoom-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="http://kutethemes.net/wordpress/boutique/wp-content/uploads/revslider/Boutique-opt7/bg21.jpg"  alt=""  width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9986-layer-4" 
			 data-x="541" 
			 data-y="296" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:1100;e:Power3.easeInOut;" 
			 data-transform_out="y:bottom;s:600;e:Power2.easeInOut;" 
			data-start="720" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5690" 

			style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 15px; font-weight: 200; color: rgba(238, 238, 238, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0px;">Beautiful Awesome Clothing & Accessories store! </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9986-layer-3" 
			 data-x="636" 
			 data-y="245" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:1100;e:Power3.easeInOut;" 
			 data-transform_out="y:bottom;s:600;e:Power2.easeInOut;" 
			data-start="900" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5820" 

			style="z-index: 6; white-space: nowrap; font-size: 12px; line-height: 15px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:6px;">MENSWEAR </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9986-layer-2" 
			 data-x="574" 
			 data-y="161" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.4;sY:0.4;skX:0;skY:0;opacity:0;s:1100;e:Power2.easeOut;" 
			 data-transform_out="y:bottom;s:600;" 
			data-start="1610" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5950" 

			style="z-index: 7; white-space: nowrap; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Yellowtail;letter-spacing:0px;">Beard Men </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9986-layer-5" 
			 data-x="634" 
			 data-y="554" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:600;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:600;" 
			data-start="2190" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5080" 

			style="z-index: 8; white-space: nowrap; font-size: 10px; line-height: 10px; color: rgba(221, 221, 221, 1.00);font-family:Montserrat;letter-spacing:0px;">WWW.BOUTIQUE.COM </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-9987" data-transition="flyin" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="http://kutethemes.net/wordpress/boutique/wp-content/uploads/revslider/Boutique-opt7/bg31.jpg"  alt=""  width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9987-layer-2" 
			 data-x="211" 
			 data-y="345" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.3;sY:0.3;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
			 data-transform_out="y:bottom;s:600;" 
			data-start="880" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5910" 

			style="z-index: 5; white-space: nowrap; font-size: 48px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Yellowtail;letter-spacing:0px;">We make a beautiful work! </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9987-layer-3" 
			 data-x="381" 
			 data-y="425" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:left;s:1000;e:Power2.easeInOut;" 
			 data-transform_out="y:bottom;s:600;" 
			data-start="1090" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5750" 

			style="z-index: 6; white-space: nowrap; font-size: 12px; line-height: 15px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:6px;">MENSWEAR </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-9987-layer-4" 
			 data-x="286" 
			 data-y="472" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:right;s:1000;e:Power2.easeInOut;" 
			 data-transform_out="y:bottom;s:600;" 
			data-start="1090" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5590" 

			style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 15px; font-weight: 200; color: rgba(238, 238, 238, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0px;">Beautiful Awesome Clothing & Accessories store! </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-Boutique-opt7-demo-boutique-plusmyshopifycom-->