<?xml version="1.0" encoding="UTF-8" standalone="no"?>
{%- assign aspect_ratioW = settings.aspect_ratio_banner_products | split: '/' | first | strip | plus: 0.00 -%}
{%- assign aspect_ratioH = settings.aspect_ratio_banner_products | split: '/' | last | strip | plus: 0.00 -%}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780 541"><title>{{shop.name}} placeholder</title><rect width="780" height="541" style="fill:{{settings.color_pt_bground}}"/></svg>