{%-include 'breadcrumb' ,breadcrumb_width:'container'-%}
<div id="main-content" class="container margin-top-30 margin-bottom-60">
  <div class="row row-inner">
    <article class="page type-page status-publish hentry col-lg-12">
      <div class="entry-content static-content">
        {% include 'shortcode' load: page.content %}
      </div>
    </article>
  </div>
</div>