<!-- {%-include 'breadcrumb' ,breadcrumb_width:'container'-%} -->
<div class="container">
	<h1>{{page.title}}</h1>
</div>
<div id="main-content" class="margin-top-30 margin-bottom-60">
  <article class="page type-page status-publish hentry">
    <div class="entry-content static-content">
      {% section 'bt_sc_faqs_page' %}
    </div>
  </article>
</div>
